matplotlib
# numpy
#==1.20.0
pandas
# scipy
scipy==1.13.1
scikit-learn
numpy==1.26.4
gym
#==1.6.0
# 1.15.2
seaborn
torch >=2.0
autodocsumm
typing
SALib
geoopt
#git+https://github.com/uwjunqi/Pytorch-Tensor-Train-Network.git
wandb
